* {
  margin: 0;
  box-sizing: border-box;
}
body {
  border: 1px solid red;
  min-height: 100vh;
  background-color: black;
  color: white;
  display: grid;
  place-items: center;
}
div {
  background-color: red;
  padding: 30px;
  border-radius: 5px;
  text-align: center;
  font-size: 100px;
}